@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <!-- Navbar con color personalizado -->
    <nav class="navbar custom-navbar">
        <a class="navbar-brand" href="#">
            <img src="@Url.Content("~/img/logoCINE.png")" alt="Logo" width="120" height="120">
        </a>
    </nav>
</body>
</html>
